h1 {
    color: rgb(45, 45, 149);
}

body {
    background-color: rgb(166, 166, 15);
}

#content {
    color: rgb(134, 8, 8);
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: beige
} 