h1 {
    color: rgb(45, 45, 149);
}

body {
    background-image: url(background.png);
}

#content {
    color: rgb(0, 0, 0);
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: beige
} 

#java {
    color: rgb(0, 0, 0);
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ECB8A5
}

#me {
    color: rgb(0, 0, 0);
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #7AE7C7
}